<main align="center">
  <section id="section-home">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-5 text-white">
        <h2>Seja bem-vindo à nossa loja gamer!</h2>
        <p>
          Explore um universo incrível para elevar sua experiência de jogos! Descubra tecnologia de ponta, equipamentos de última geração e produtos feitos para satisfazer todos os tipos de jogadores, desde iniciantes até os mais experientes.
        </p>
        <p>
          Somos um verdadeiro playground digital com uma ampla variedade de consoles, incluindo os mais recentes lançamentos, e computadores gamers de alta performance, prontos para lidar com os desafios visuais e exigências dos jogos.
        </p>
      </div>
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="./assets/img/game-console-g546af7e68_640.jpg" alt="Imagem de Console de Jogo" />
      </div>
    </div>
  </section>


  <h2>Produtos</h2>
<mat-grid-list cols="5">
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-image src="https://images.unsplash.com/photo-1549546254-54a454a35f54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Teclado Mecânico RGB">
      <mat-card-header>
        <mat-card-title>Teclado Mecânico RGB</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-image src="https://images.unsplash.com/photo-1554692957-4a75054e5495?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Headphone Gamer 7.1">
      <mat-card-header>
        <mat-card-title>Headphone Gamer 7.1</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-image src="https://images.unsplash.com/photo-1495020689067-958852a7765e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Montagem e Manutenção de PCs">
      <mat-card-header>
        <mat-card-title>Montagem e Manutenção de PCs</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-image src="https://images.unsplash.com/photo-1654675461854-c54a2545585f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="PlayStation 5">
      <mat-card-header>
        <mat-card-title>PlayStation 5</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <img mat-card-image src="https://images.unsplash.com/photo-1645463546654-b5954a654a15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1154&q=80" alt="Elden Ring">
      <mat-card-header>
        <mat-card-title>Elden Ring</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid


  <h2>Contato</h2>
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-5 text-white">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome Completo">

      
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="E-mail">


    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Mensagem</mat-label>
      <input matInput placeholder="Mensagem">

    </mat-form-field>

  </p>
  <button class="bg-primary" mat-raised-button color="primary">Enviar</button>
</div>
</div>



</main>